@use "../abstracts";

.home {
  .container {
    --grid-gutter-x: 40px;
  }

  // Hero
  &__hero {
    padding: 115px 0 140px;
    background-color: var(--color-yellow-light);

    @include abstracts.screen(md) {
      padding: 22px 0 30px;
    }

    &-body {
      display: flex;

      @include abstracts.screen(md) {
        flex-direction: column;
        gap: 76px;
      }
    }

    &-content {
      flex-shrink: 0;
      width: 570px;

      @include abstracts.screen(md) {
        width: 100%;
      }
    }

    &-heading {
      font-size: 6rem;
      font-weight: 800;
      line-height: 116.667%;

      @include abstracts.screen(md) {
        margin-bottom: 10px;

        font-size: 3.5rem;
        line-height: 117.143%;
      }
    }

    &-label {
      margin-bottom: 12px;

      color: var(--color-dark);

      @include abstracts.screen(md) {
        margin-bottom: 10px;
      }
    }

    &-desc {
      max-width: 470px;

      @include abstracts.screen(md) {
        width: 276px;
      }
    }

    &-btn {
      margin-top: 38px;
      min-width: 242px;

      @include abstracts.screen(md) {
        --height: 35px;

        margin-top: 15px;
        min-width: 142px;

        font-size: 1rem;
      }
    }

    &-media {
      position: relative;

      padding: 0 70px;
      margin-left: auto;
      width: 470px;
      height: 476px;
      background-color: #017848;

      @include abstracts.screen(md) {
        margin-right: auto;

        width: 240px;
        height: 242px;
        padding: 0 35px;
      }

      &::before {
        content: "";

        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 36%;
        height: 88%;
        background-color: #fed464;
      }
    }

    &-watch,
    &-decor {
      position: absolute;
    }

    &-thumb {
      position: relative;
      z-index: 1;

      display: block;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-watch {
      top: -92px;
      left: -92px;
      z-index: 2;

      width: 184px;
      height: 184px;

      @include abstracts.screen(md) {
        top: -50px;
        left: -50px;

        width: 94px;
        height: 94px;
      }
    }

    &-btn-video {
      height: 100%;
      width: 100%;
    }

    &-decor {
      top: 30%;
      right: -95px;

      width: 164px;
      height: 128px;

      @include abstracts.screen(md) {
        right: -50px;

        width: 83px;
        height: 65px;
      }
    }
  }

  // About Us
  &__about {
    padding: 100px 0;
    background-color: var(--color-dark);

    @include abstracts.screen(md) {
      padding: 30px 0;
    }

    &-body {
      display: flex;
      align-items: center;
      gap: 130px;
    }

    &-thumb {
      position: relative;

      flex-shrink: 0;

      width: 570px;
      height: 570px;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-decor {
      position: absolute;
      bottom: 110px;
      right: -60px;

      width: 114px;
      height: 158px;
    }

    &-label {
      color: var(--color-primary);
    }

    &-heading {
      color: var(--color-white);
    }

    &-desc {
      color: var(--color-secondary);
    }

    &-stats {
      display: flex;
      gap: 55px;

      margin-top: 28px;

      @include abstracts.screen(md) {
        gap: 38px;

        margin-top: 15px;
      }
    }

    &-stat-value {
      color: var(--color-white);
      font-family: var(--font-family-secondary);

      font-size: 2.4rem;
      font-weight: 700;
      line-height: 141.667%;

      @include abstracts.screen(md) {
        font-size: 1.6rem;
        line-height: 141.667%;
      }
    }

    &-stat-label {
      margin-top: 4px;

      color: var(--color-secondary);
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 175%;

      @include abstracts.screen(md) {
        margin-top: 2px;

        font-size: 1.1rem;
      }
    }

    &-learn-more {
      margin-top: 38px;
      min-width: 166px;

      @include abstracts.screen(md) {
        --height: 42px;

        margin-top: 30px;
        min-width: 116px;

        font-size: 1.2rem;
      }
    }
  }

  // Services
  &__services {
    padding: 150px 0;

    @include abstracts.screen(md) {
      padding: 50px 0;
    }

    &-body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-desc {
      max-width: 470px;
      text-align: center;
    }

    &-list {
      margin-top: 70px;
      width: 100%;

      @include abstracts.screen(md) {
        margin-top: 40px;
      }
    }

    &-view-all {
      margin-top: 55px;

      @include abstracts.screen(md) {
        margin-top: 40px;
      }
    }
  }

  // Features
  &__features {
    &-body {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 150px;

      &--reverse {
        flex-direction: row-reverse;
      }

      @include abstracts.screen(md) {
        flex-direction: column-reverse;
        gap: 30px;

        margin-bottom: 50px;
      }
    }

    &-thumb {
      position: relative;

      width: 570px;
      height: 570px;

      @include abstracts.screen(md) {
        width: 100%;
        height: inherit;
        padding-top: 100%;
      }
    }

    &-decor {
      position: absolute;
      top: 40%;

      &--top {
        left: -50px;

        width: 117px;
        height: 129px;

        @include abstracts.screen(md) {
          left: -15px;

          width: 63px;
          height: 69px;
        }
      }

      &--bottom {
        left: -60px;

        width: 130px;
        height: 93px;

        @include abstracts.screen(md) {
          left: -15px;

          width: 68px;
          height: 49px;
        }
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include abstracts.screen(md) {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    &-content {
      flex-shrink: 0;
      max-width: 470px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 12px;

      margin-top: 28px;
      padding-left: 20px;

      list-style-type: disc;

      @include abstracts.screen(md) {
        margin-top: 20px;
      }
    }

    &-item {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 166.667%;

      @include abstracts.screen(md) {
        font-size: 1.2rem;
        line-height: 175%;
      }
    }

    &-cta {
      margin-top: 38px;

      min-width: 180px;

      @include abstracts.screen(md) {
        margin-top: 20px;

        min-width: 128px;

        font-size: 1.2rem;
      }
    }
  }

  // Team
  &__team {
    padding: 100px 0;
    background-color: var(--color-dark);
    text-align: center;

    @include abstracts.screen(md) {
      padding: 40px 0 50px;
    }

    &-label {
      color: var(--color-primary);
    }

    &-heading {
      color: var(--color-white);
    }

    &-desc {
      max-width: 470px;
      margin-left: auto;
      margin-right: auto;

      color: var(--color-secondary);
    }

    &-list {
      margin-top: 70px;

      @include abstracts.screen(md) {
        margin-top: 40px;
      }
    }

    &-view-all {
      margin-top: 55px;
      min-width: 171px;

      @include abstracts.screen(md) {
        margin-top: 40px;
      }
    }
  }

  // Awards
  &__awards {
    padding: 100px 0;
    text-align: center;
    background-color: var(--color-yellow-light);

    @include abstracts.screen(md) {
      padding: 50px 0 40px;
    }

    &-label {
      color: var(--color-dark);
    }

    &-list {
      margin-top: 70px;
      display: flex;
      justify-content: center;
      gap: 30px;

      @include abstracts.screen(md) {
        flex-direction: column;
        align-items: center;
        gap: 20px;

        margin-top: 40px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 270px;
      height: 270px;
      background-color: #fff;
    }
  }
}
