@use "../abstracts";

.blog-item {
  &__thumb {
    position: relative;

    padding-top: 100%;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 16px;

    margin-top: 20px;

    @include abstracts.screen(md) {
      gap: 14px;
      margin-top: 18px;
    }
  }

  &__author-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;

    @include abstracts.screen(md) {
      width: 58px;
      height: 58px;
    }
  }

  &__author-name {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;

    @include abstracts.screen(md) {
      font-size: 1.6rem;
      line-height: 168.75%;
    }
  }

  &__author-role {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;

    @include abstracts.screen(md) {
      font-size: 1.4rem;
      line-height: 178.571%;
    }
  }

  &__title {
    margin-top: 20px;

    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145.455%;

    @include abstracts.screen(md) {
      margin-top: 18px;

      font-size: 1.9rem;
      line-height: 152.489%;
    }
  }

  &__read-more {
    display: inline-block;
    margin-top: 12px;

    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;

    transition: 0.25s;

    @include abstracts.screen(md) {
      margin-top: 10px;

      font-size: 1.6rem;
      line-height: 168.75%;
    }

    &:hover {
      color: var(--color-primary);
    }
  }
}

.blog-item--real-estate {
  .blog-item__thumb {
    height: 408px;
    padding-top: 0;
    border-radius: 10px;

    @include abstracts.screen(md) {
      height: 240px;
    }
  }

  .blog-item__title {
    @include abstracts.screen(md) {
      margin-top: 10px;

      font-size: 1.4rem;
      line-height: 157.143%;
    }
  }

  .blog-item__date,
  .blog-item__desc {
    display: inline-block;
    margin-top: 20px;

    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;

    @include abstracts.screen(md) {
      margin-top: 10px;

      font-size: 1rem;
      line-height: 160%;
    }
  }

  .blog-item__read-more {
    text-transform: uppercase;
    margin-top: 15px;

    @include abstracts.screen(md) {
      margin-top: 10px;

      font-size: 1rem;
      line-height: 170%;
    }
  }
}
