@use "../abstracts";

.faq--home {
  .faq__body {
    max-width: 770px;
    margin: 0 auto;
  }

  .faq__label,
  .faq__heading {
    text-align: center;
  }

  .faq__heading {
    margin-bottom: 3px;

    @include abstracts.screen(md) {
      font-size: 2.4rem;
    }
  }

  .faq__tabs {
    display: flex;
    justify-content: center;
  }

  .faq__tab {
    padding: 15px;

    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;

    @include abstracts.screen(md) {
      padding: 10px;

      font-size: 1rem;
      line-height: 170%;
    }

    &--active {
      color: var(--color-primary);
    }
  }

  .faq__list {
    margin-top: 40px;

    @include abstracts.screen(md) {
      margin-top: 26px;
    }
  }

  .faq__item {
    padding: 30px;
    transition: 0.25s;

    @include abstracts.screen(md) {
      padding: 14px;
    }

    &:not(:first-child) {
      border-top: 1px solid #dbe1e3;
    }
  }

  .faq__item.show {
    box-shadow: 0 20px 70px 0 rgba(14, 20, 18, 0.07);

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @include abstracts.screen(md) {
      margin-bottom: 16px;
    }
  }

  .faq__item.show .faq__answer {
    display: block;
  }

  .faq__item.show .faq__toggle {
    background-color: var(--color-primary);
  }

  .faq__item.show .faq__toggle::after {
    rotate: 180deg;
  }

  .faq__item-header {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    @include abstracts.screen(md) {
      gap: 6px;
    }
  }

  .faq__question {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145.455%;

    @include abstracts.screen(md) {
      font-size: 1rem;
      line-height: 139.221%;
    }
  }

  .faq__toggle {
    flex-shrink: 0;

    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark);

    transition: 0.25s;

    @include abstracts.screen(md) {
      width: 14px;
      height: 14px;
    }

    &::after {
      content: "";

      display: inline-block;
      width: 14px;
      height: 14px;
      background: url(../../assets/icons/home/arrow-down-2.svg) no-repeat
        center / contain;

      transition: 0.25s;

      @include abstracts.screen(md) {
        width: 8px;
        margin-top: 0;
      }
    }
  }

  .faq__answer {
    display: none;

    margin-top: 18px;

    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;

    @include abstracts.screen(md) {
      margin-top: 8px;

      font-size: 0.9rem;
      line-height: 144.444%;
    }
  }
}
