@forward "./hero";
@forward "./about";
@forward "./services";
@forward "./features";
@forward "./team";
@forward "./awards";
@forward "./testimonial";
@forward "./blog";
@forward "./faq";
@forward "./cta";
@forward "./logo";
@forward "./navbar";
@forward "./service-item";
@forward "./service-card";
@forward "./lawyer-item";
@forward "./testimonial-item";
@forward "./slider-dot";
@forward "./blog-item";
