.lawyer-item {
  &__thumb {
    position: relative;

    width: 100%;
    padding-top: 100%;
    overflow: hidden;

    cursor: pointer;
  }

  &__thumb:hover &__view {
    translate: -50% 0;
    opacity: 1;
  }

  &__img {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__view {
    position: absolute;
    bottom: 30px;
    left: 50%;
    translate: -50% 90px;
    opacity: 0;

    transition: 0.3s;

    min-width: 171px;
  }

  &__content {
    margin-top: 18px;
  }

  &__name {
    color: var(--color-white);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145.455%;
  }

  &__desc {
    color: var(--color-secondary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
  }
}
