.navbar {
  &__list {
    display: flex;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 8px 20px;

    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;

    transition: 0.3s ease;

    &:hover {
      color: var(--color-primary);
      text-shadow: 0.04em 0 0 currentColor;
    }

    &--dropdown::after {
      content: "";
      width: 10px;
      height: 10px;

      margin-top: 2px;

      background: url(../../assets/icons/arrow-down.svg) no-repeat center /
        contain;
      transition: 0.3s ease;
    }

    &--dropdown:hover::after {
      transform: rotate(180deg);
      filter: var(--navbar-icon-filter);
    }
  }
}
