@use "../abstracts";

.property-card {
  &__thumb {
    height: 303px;

    @include abstracts.screen(md) {
      height: 275px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__price {
    margin-top: 20px;

    color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 175%;

    @include abstracts.screen(md) {
      margin-top: 18px;

      font-size: 1.4rem;
      line-height: 178.571%;
    }
  }

  &__title {
    margin-top: 10px;

    font-size: 2rem;
    font-weight: 700;
    line-height: 150%;

    @include abstracts.screen(md) {
      margin-top: 9px;

      font-size: 1.8rem;
    }
  }

  &__info {
    display: flex;
    gap: 20px;

    margin-top: 12px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__value {
    color: var(--text-color);

    font-size: 1.4rem;
    font-weight: 500;

    @include abstracts.screen(md) {
      font-size: 1.2rem;
    }
  }
}
