@use "../abstracts";

.properties--real-estate {
  padding-bottom: 150px;

  @include abstracts.screen(md) {
    padding-bottom: 50px;
  }

  .properties__label {
    color: var(--color-primary);
    text-align: center;
  }

  .properties__heading {
    max-width: 770px;
    padding: 0 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    text-align: center;

    @include abstracts.screen(md) {
      padding: 0;
      margin-bottom: 40px;

      font-size: 2.4rem;
      line-height: 125%;
    }
  }
}
