@use "../abstracts";

.services {
  padding: 150px 0;

  @include abstracts.screen(md) {
    padding: 50px 0;
  }
}

.services--home {
  .services__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services__desc {
    max-width: 470px;
    text-align: center;
  }

  .services__list {
    margin-top: 70px;
    width: 100%;

    @include abstracts.screen(md) {
      margin-top: 40px;
    }
  }

  .services__view-all {
    margin-top: 55px;

    @include abstracts.screen(md) {
      margin-top: 40px;
    }
  }
}

.services--real-estate {
  @include abstracts.screen(md) {
    padding: 40px 0 50px;
  }

  .services__label {
    color: var(--color-primary);
    text-align: center;
  }

  .services__heading {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    text-align: center;

    @include abstracts.screen(md) {
      margin-bottom: 40px;

      font-size: 2.4rem;
      font-weight: 700;
      line-height: 125%;
    }
  }
}
