.team-card {
  padding: 13px 13px 34px;
  background: #f8ebc9;
  border-radius: 20px;
  box-shadow: 0 44px 74px 0 rgba(0, 0, 0, 0.04);

  &__avatar {
    display: block;
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  &__name {
    margin-top: 14px;

    font-family: var(--font-family-secondary);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 141.667%;
  }

  &__role {
    margin-top: 8px;

    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 166.667%;
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 12px;

    margin-top: 21px;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;
    border: 1px solid rgba(253, 96, 56, 0.2);
    border-radius: 50%;
  }
}
