@use "../abstracts";

.testimonial-item {
  padding: 30px;
  border: 1px solid #e6efec;

  transition: 0.25s;

  @include abstracts.screen(md) {
    padding: 28px;
  }

  &:hover {
    border-color: transparent;
    box-shadow: 0 20px 20px 0 rgba(14, 20, 18, 0.07);
  }

  &__avatar {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;

    @include abstracts.screen(md) {
      width: 58px;
      height: 58px;
    }
  }

  &__quote {
    margin-top: 30px;

    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;

    @include abstracts.screen(md) {
      margin-top: 28px;

      font-size: 1.6rem;
      line-height: 168.75%;
    }
  }

  &__icon {
    margin-top: 30px;

    @include abstracts.screen(md) {
      margin-top: 28px;
    }
  }

  &__name {
    margin-top: 12px;

    font-size: 2rem;
    font-weight: 700;
    line-height: 150%;

    @include abstracts.screen(md) {
      font-size: 1.8rem;
      line-height: 150.901%;
    }
  }

  &__role {
    color: var(--text-color);

    font-size: 1.4rem;
    font-weight: 400;
    line-height: 171.429%;

    @include abstracts.screen(md) {
      font-size: 1.2rem;
      line-height: 171.429%;
    }
  }

  &__rating {
    display: flex;
    gap: 8px;

    margin-top: 25px;

    @include abstracts.screen(md) {
      margin-top: 20px;
    }
  }
}

.testimonial-item--real-estate {
  display: flex;
  flex-direction: column;

  height: 100%;
  border-radius: 12px;
  border-color: #e0e0e0;

  .testimonial-item__quote {
    margin-top: 0;
    flex: 1;
  }

  .testimonial-item__author {
    display: flex;
    gap: 14px;

    margin-top: 20px;

    @include abstracts.screen(md) {
      gap: 12px;
    }
  }

  .testimonial-item__author-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 10px 18px -6px rgba(112, 112, 112, 0.2);

    @include abstracts.screen(md) {
      width: 54px;
      height: 54px;
    }
  }

  .testimonial-item__author-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .testimonial-item__name {
    margin-top: 0;

    font-size: 2.2rem;
    line-height: 175%;
  }

  .testimonial-item__role {
    margin-top: 5px;

    font-size: 1.6rem;
    line-height: 175%;
    opacity: 0.5;

    @include abstracts.screen(md) {
      margin-top: 0;
    }
  }
}
