html {
  // Fonts
  --font-family-primary: "Manrope", sans-serif;
  --font-family-secondary: "Roboto Slab", serif;

  // Color
  --color-dark: #0e1412;
  --color-white: #fff;
  --color-yellow-light: #f8ebc9;
  --color-primary: #fd6038;
  --color-secondary: #beccc7;
  --text-color: #586863;

  // Navbar
  --navbar-icon-filter: brightness(0) saturate(100%) invert(68%) sepia(85%)
    saturate(4530%) hue-rotate(334deg) brightness(96%) contrast(108%);

  // Header
}
