<div class="container">
  <div class="footer__body">
    <div class="footer__row">
      <!-- Footer Col 1 -->
      <div class="footer__col">
        <h3 class="footer__title">Justice</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#!" class="footer__link">Privacy Policy</a>
          </li>
          <li class="footer__item">
            <a href="#!" class="footer__link">Terms & Conditions</a>
          </li>
          <li class="footer__item">
            <a href="#!" class="footer__link">Cookie Preferences</a>
          </li>
        </ul>
      </div>

      <!-- Footer Col 2 -->
      <div class="footer__col">
        <h3 class="footer__title">Pages</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="/" class="footer__link">Home</a>
          </li>
          <li class="footer__item">
            <a href="#!" class="footer__link">About</a>
          </li>
          <li class="footer__item">
            <a href="#!" class="footer__link">Practice Areas</a>
          </li>
          <li class="footer__item">
            <a href="#!" class="footer__link">Attorneys</a>
          </li>
        </ul>
      </div>

      <!-- Footer Col 3 -->
      <div class="footer__col">
        <h3 class="footer__title">Contact</h3>
        <address class="footer__contact">
          <p class="footer__address">
            50 Harrison Street, PH Suite 445 Hoboken, NJ 07030
          </p>
          <a href="tel:0001234567" class="footer__phone-number"
            >(000) 123-4567</a
          >
          <a href="mailto:yourlawfirm22@gmail.com" class="footer__email">
            yourlawfirm22@gmail.com
          </a>
        </address>
      </div>

      <!-- Footer Col 4 -->
      <div class="footer__col">
        <div class="footer__map">
          <iframe
            class="footer__iframe"
            title="Justice Law Firm location on Google Maps"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0976174964967!2d105.84978977471438!3d21.028779737778933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab953357c995%3A0x1babf6bb4f9a20e!2zSOG7kyBIb8OgbiBLaeG6v20!5e0!3m2!1svi!2s!4v1767793255576!5m2!1svi!2s"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>

    <div class="footer__separate"></div>

    <div class="footer__bottom">
      <!-- Logo -->
      <a href="/" class="logo">
        <img
          src="./assets/imgs/logo-footer.png"
          alt="Justice Law Firm"
          class="logo__icon"
        />
      </a>

      <div class="footer__bottom-content">
        <p class="footer__copyright">
          Copyright © 2022 UI HUT All Rights Reserved
        </p>

        <div class="footer__socials">
          <a href="#!" class="footer__social">
            <img
              src="./assets/icons/facebook.svg"
              alt=""
              class="footer__icon"
            />
          </a>
          <a href="#!" class="footer__social">
            <img
              src="./assets/icons/linkedin.svg"
              alt=""
              class="footer__icon"
            />
          </a>
          <a href="#!" class="footer__social">
            <img src="./assets/icons/twitter.svg" alt="" class="footer__icon" />
          </a>
          <a href="#!" class="footer__social">
            <img
              src="./assets/icons/instagram.svg"
              alt=""
              class="footer__icon"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
