<div class="container">
  <div class="header__body">
    <!-- Mobile Menu -->
    <button class="header__menu d-none d-md-flex">
      <img src="./assets/icons/menu.svg" alt="" />
    </button>

    <!-- Logo -->
    <a href="/" class="logo d-md-none">
      <img
        src="./assets/imgs/logo.png"
        alt="Justice Law Firm"
        class="logo__icon"
      />
    </a>

    <!-- Navbar -->
    <nav class="navbar header__navbar d-md-none">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a href="/" class="navbar__link navbar__link--dropdown">Home</a>
        </li>
        <li class="navbar__item">
          <a href="#!" class="navbar__link navbar__link--dropdown">About</a>
        </li>
        <li class="navbar__item">
          <a href="#!" class="navbar__link navbar__link--dropdown"
            >Practice Areas</a
          >
        </li>
        <li class="navbar__item">
          <a href="#!" class="navbar__link">Attorneys</a>
        </li>
        <li class="navbar__item">
          <a href="#!" class="navbar__link navbar__link--dropdown">Page</a>
        </li>
      </ul>
    </nav>

    <!-- Contact -->
    <address class="header__contact">
      Call:
      <a href="tel:000123456789" class="header__phone-number">
        (000) 123 456 789
      </a>
    </address>
  </div>
</div>
