@use "../abstracts";

.footer {
  padding-top: 100px;
  background: var(--color-dark);

  @include abstracts.screen(md) {
    padding-top: 30px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 70px;

    @include abstracts.screen(md) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__title {
    margin-bottom: 24px;

    color: var(--color-white);
    font-size: 2rem;
    font-weight: 700;
    line-height: 150%;
  }

  &__list {
    margin-top: -8px;
  }

  &__link,
  &__address,
  &__phone-number,
  &__email {
    color: var(--color-secondary);
  }

  &__link {
    display: inline-block;
    padding: 12px 0;
  }

  &__contact {
    max-width: 237px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
  }

  &__iframe {
    width: 470px;
    height: 268px;
    border-radius: 6px;

    @include abstracts.screen(md) {
      width: 100%;
      height: 190px;
    }
  }

  &__separate {
    margin-top: 55px;
    height: 1px;
    background-color: #313d39;

    @include abstracts.screen(md) {
      margin-top: 20px;
    }
  }

  &__bottom {
    padding: 28px 0;

    @include abstracts.screen(md) {
      padding: 20px 0 30px;
    }
  }

  &__bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 12px;

    @include abstracts.screen(md) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      margin-top: 20px;
    }
  }

  &__copyright {
    color: var(--color-secondary);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 171.429%;
  }

  &__socials {
    display: flex;
    gap: 12px;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;
    background: #313d39;
    transition: 0.25s;

    &:hover {
      background: var(--color-primary);
    }
  }
}
