@use "../abstracts";

.header {
  padding: 30px 0;
  background-color: var(--header-bg);

  @include abstracts.screen(md) {
    padding: 32px 0;
  }

  &__body {
    display: flex;
    align-items: center;
  }

  &__navbar {
    margin-left: auto;
  }

  &__contact {
    display: flex;
    align-items: center;

    margin-left: 73px;

    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;

    @include abstracts.screen(md) {
      margin-left: auto;

      font-size: 1rem;
      line-height: 160%;
    }
  }

  &__phone-number {
    margin-left: 4px;

    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145.455%;

    @include abstracts.screen(md) {
      margin-left: 6px;

      font-size: 1.2rem;
      line-height: 159.307%;
    }
  }
}
